.popup__close-btn {
  position: absolute;
  bottom: 338px;
  left: 438px;
  width: 32px;
  height: 32px;
  background-image: url('../../../../images/Close\ Icon.svg');
  background-color: black;
  background-size: cover;
  opacity: 1;
  border: none;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 568px){
  .popup__close-btn {
    width: 20px;
    height: 20px;
    left: 262px;
  }
}