.element__trash {
  border: none;
  background-image: url(../../../images/trash.svg);
  /*background-color: #ffffff;*/
  background-repeat: no-repeat;
  box-sizing: border-box;
  cursor: pointer;
  height: 19px;
  width: 18px;
  padding: 0;
  margin: 0;
  /*opacity: 1;*/
  margin-left: 244px;
  margin-top: 20px;
}
  
.element__trash:hover {
  opacity: 50%;
}